* {
    box-sizing: border-box;
}
.project-card {
    background-color: #32384D;
    font-family: 'Rubik', sans-serif;
    width: clamp(250px, 400px, 100%);
    height: clamp(350px, 400px, 80%);
    margin: 1rem;
    border-radius: 5px;
    padding: 15px;    
}
.desc {
    display: none;
}
.project-card:hover .desc {
display: block;
position: absolute;
top: 50px;
}
.title {
    font-size: 2rem;
    color: white;
}


