@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;900&family=Prompt:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
}
h3 {
  font-family: "Noto Sans SC", sans-serif;
  margin-top: 0;
  color: white;
}

.project-link {
  color: white;
}

.figure {
  margin: 2em 0;
  margin-bottom: 2em;
  height: auto;
  flex: 1 0 60%;
}
.project-card {
  background-color: #000;
  font-family: 'Noto Sans SC';
  margin: 1em 0;
  border-radius: 2px;
  padding: 15px;
  /* flexbox */
  display: flex;
  align-items: center;
}
.desc {
  margin: 0;
  color: #fff;
  text-align: left;
  
}
.desc p, .desc a{
  font-size: 1.22em;
}
.title {
  font-size: 1.5em;
  color: #fff;
}
.image {
border-radius: 5px;
width: 90%;

}

@media (max-width: 992px) {
  .project-card {
    flex-direction: column;
  }
  
}