@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

.projects-text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 1.5em;
}

.section-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows:  auto auto 1fr;
    padding: 0 2.5em;


}

.projects-gallery-container{
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-around;

}

